*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    background-color: rgb(237, 88, 71);
    font-family: 'Great Vibes', cursive;
    width: 100vw;
}
.navbar-brand{
    color: white;
    font-size: 2rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;

    font-size: 38px;
    padding: 12px;
    padding-right: 0px;

}

nav div span{
    white-space:nowrap;
}

#heading{
    text-decoration: none;
    color: white;
    padding-bottom: 12px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#form-part1{
    display: flex;
    justify-content: space-evenly;
}

.flex-items{
    background-color: rgb(213, 213, 213);
    border: none;
    border-radius: 10px;
    padding: 7px 11px;
    margin: 10px;
}

select:invalid {
    color: gray;
}

.btn{
    background-color: rgb(237, 88, 71);
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 7px 11px;
    margin: 10px;
}

#cards{
    display: none;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    text-align: center;
    margin: 20px;
}

.meal{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-heading{
    color: rgb(237, 88, 71);
    font-size: 20px;
}

.card{
    background-color: rgb(237, 88, 71);
    height: 250px;
    width: 210px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 10px 5px 10px grey;
}

.card-img{
    width: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-btn{
    background-color: rgb(237, 88, 71);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 7px;
    margin-top: 9px;
    margin-bottom: 7px;
}

#recipe-card{
    display: none;    
    justify-content: center;
    justify-content: space-around;
    width: 80vw;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3{
    color:  rgb(237, 88, 71);
    margin-top: 30px;
    font-size: x-large;
    margin-bottom: 20px;
}

.recipe-content{
    height: auto;
}

#recipe-card .recipe-content p{
    font-size: 20px;
    margin-bottom: 20px;
}

.tooltip{
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    padding: 3px 10px;
    opacity: 85%;
}

@media only screen 
    and (min-width: 320px)
    and (max-width: 480px) { 
        #form-part1{
            flex-direction: column;
        }
        #form-part2{
            display: flex;
            flex-direction: column;
        }
        #cards{
            flex-direction: column;
        }

        .card-heading{
            margin-bottom: 3rem;
        }

        #steps{
            visibility: hidden;
        }
        
        #equipment{
            visibility: hidden;
        }

        #recipe-card{
            display: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .flex-items{
            width: 70vw;
        }
     }